.App{
    background: #333;
    height: 100vh;
    width:100%;
    display:inline-flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 5px;
    justify-content: center;
}
.ButRegis{
    margin: 10px;
    display: flex;
}
.ButLogin{
    margin: 10px;
    display: flex;
}