#searchDiv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#trySearching {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2em;
text-align: center;
color: black;

}

#randomArt {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 2.5em;
text-align: center;

color: #443EA5;

}



#wrapSearch {
    margin-top: 40px;
}

#searchBar {

    display: inline-block;
    width: 30%;
    height: 50px;
    border : 1px rgba(0,0,0,0.5) solid;
    box-shadow: azure;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    box-sizing: border-box;
    box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    margin-left: 100px;

}

#searchBar::placeholder {
    color: rgba(0,0,0,0.5);
    font-weight: 300;
}
#searchBar:focus {
    width: 40%;
    transition: 0.3s;
    border-bottom:none;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#searchBar:focus + #searchButton {
    visibility: visible;
    transition: 0.3s;

}

#searchButton {
    
    visibility: hidden;
    margin-left: 10px;   
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

#searchButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}